---
import Hero from "@/src/components/Hero.astro";
import PrimaryComment from "@components/PrimaryComment.astro";
import Section from "@components/Section.astro";
import Layout, { type LayoutProps } from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const layout: LayoutProps = {
  title: "Blog - AICode Academy",
  description: "Artículos sobre programación con Inteligencia Artificial",
  hero: {
    title: "Cursos i.A.",
    subtitle: "Aprende metodologías, herramientas y procedimientos para programar mejor con IA.",
    cta: {
      link: "",
      text: "Learn to code smarter"
    }
  }
};
const cursos = await getCollection("cursos");

const cta = {
  title: "¿Quieres organizar un curso en tu empresa?",
  subtitle: "Puedo ajustar el temario y herramientas a tus necesidades",
  cta: {
    link: "https://www.trainingit.es/producto/metodologia-ai-driven-development/?email=abasalo@trainingit.es",
    text: "Edición en video bonificable Fundae"
  }
}
---
<Layout
  layout={layout}>
  <Hero hero={layout.hero} />
  <main>
    {
      cursos.map((curso) => (
        <article>
        <h2><PrimaryComment /><a href={`/cursos/${curso.data.slug}`}>{curso.data.title}</a></h2>
        <p>{curso.data.subtitle}</p>
        <small>{curso.data.description}</small>
      </article>
    ))
  }
    <footer>
      <Section section={cta} />
    </footer>
</Layout>
