---

import { getCollection } from "astro:content";
import MatrixText from "../../components/MatrixText.astro";
import PrimaryComment from "../../components/PrimaryComment.astro";
import Section from "../../components/Section.astro";
import Layout, { type LayoutProps } from "../../layouts/Layout.astro";

const layout: LayoutProps = {
  title: "Blog - AICode Academy",
  description: "Artículos sobre programación con Inteligencia Artificial"
};
const cursos = await getCollection("cursos");

const cta = {
  title: "¿Quieres organizar un curso en tu empresa?",
  subtitle: "Puedo ajustar el temario y herramientas a tus necesidades",
  cta: {
    link: "https://www.linkedin.com/in/albertobasalo/",
    text: "Contacta con Alberto Basalo"
  }
}
---
<Layout
  layout={layout}>
  <section
    id="hero"
    class="container">
    <header class="center">
      <h1 class="color">Cursos <MatrixText text="Ai-code" /> Academy</h1>
      <p>
        Aprende metodologías, herramientas y procedimientos para programar mejor con IA.
      </p>
    </header>
  </section>
  <main>
    {
      cursos.map((curso) => (
        <article>
        <h2><PrimaryComment /><a href={`/cursos/${curso.data.slug}`}>{curso.data.title}</a></h2>
        <p>{curso.data.subtitle}</p>
        <small>{curso.data.description}</small>
      </article>
    ))
  }
    <footer>
      <Section section={cta} />
    </footer>
</Layout>
