---
import Section from "@components/Section.astro";
import { HOME } from "@content/home.content";
import Layout from "@layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout layout={HOME.layout}>
  <Hero hero={HOME.hero} />

  <Section section={HOME.why} />
  <Section section={HOME.aidd} />
  <Section section={HOME.cursos} />
  <aside class="container">
    <header>
      <h1>Te presento a AIDDbot</h1>
      <p>Automatiza tu ciclo de desarrollo con IA</p>
    </header>
    <main>
      Siguiendo la filosofía <b>AI-Driven Development</b>, he desarrollado <code
        >AIDDbot</code
      >, un conjunto de herramientas (prompts, instrucciones, agentes, etc.)
      para que puedas usar fácilmente toda la potencia de la IA en tu día a día.
    </main>
    <footer>
      <a role="button" class="outline" href="/community/opensource/aiddbot"
        >Descubre AIDDbot</a
      >
    </footer>
  </aside>
</Layout>
