---
import Section from "@components/Section.astro";
import { HOME } from "@content/home.content";
import Layout from "@layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout layout={HOME.layout}>
  <Hero hero={HOME.hero} />

  <Section section={HOME.why} />
  <Section section={HOME.aidd} />
  <Section section={HOME.technologies} />
  <Section section={HOME.cursos} />
  <aside class="container center">
    <header>
      <h1>Te presento a AIDDbot</h1>
      <p>Automatiza tu ciclo de desarrollo con IA</p>
    </header>
    <main>
      Siguiendo la filosofía AI-Driven Development, he desarrollado <kbd
        >AIDDbot</kbd
      >, un conjunto de herramientas (prompts, instrucciones, agentes, etc.)
      para que puedas usar fácilmente toda la potencia de la IA en tu día a día.
    </main>
    <footer>
      <a
        role="button"
        class="outline secondary"
        href="/community/opensource/aiddbot">Descubre AIDDbot</a
      >
    </footer>
  </aside>
</Layout>
