---
import PostMeta from "@pages/blog/PostMeta.astro";
import PrimaryComment from "./PrimaryComment.astro";

interface Props {
  post: {
    data: {
      slug: string;
      title: string;
      date?: string;
      category?: string;
      subtitle?: string;
      description: string;
    };
  };
}

const { post } = Astro.props;
---

<article class="colored-headers">
  <header>
    <h2>
      <PrimaryComment />
      <a
        href={`/blog/es/${post.data.slug}`}
        title={`Ver artículo: ${post.data.title}`}>{post.data.title}</a
      >
    </h2>
    <PostMeta date={post.data.date ?? ""} category={post.data.category ?? ""} />
    <p class="secondary">{post.data.subtitle}</p>
  </header>
  <small>{post.data.description}</small>
</article>
