---
import { getCollection, render } from "astro:content";
import Layout, { type LayoutProps } from "../../../layouts/Layout.astro";
import PostMeta from "../PostMeta.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.id.replace("es/", "") },
    props: { entry: post },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);

const layout: LayoutProps = {
  title: `${entry.data.title} - ${entry.data.subtitle}`,
  description: entry.data.description
};
---

<Layout
  layout={layout}>
  <article>
    <h1>{entry.data.title}</h1>
    <h3>{entry.data.subtitle}</h3>
    <small>{entry.data.description}</small>
    <PostMeta date={entry.data.date ?? ""} category={entry.data.category ?? ""} />
    <main>
      <Content />
    </main>
    <footer>
      <blockquote>
        <p>No es magIA, es Tecnología.</p>
        <footer>
          <cite>— Alberto Basalo</cite>
        </footer>
      </blockquote>
      <p>
        <PostMeta
          date={entry.data.date ?? ""}
          category={entry.data.category ?? ""}
        />
      </p>
    </footer>
  </article>
</Layout>
